<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.extole">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".mobile.ExtoleDemoApp"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/Theme.MobileWebView">
        <meta-data
          android:name="com.extole.PROGRAM_DOMAIN"
          android:value="mobile-monitor.extole.io" />
        <meta-data
          android:name="com.extole.APP_NAME"
          android:value="Mobile SDK" />

        <receiver
          android:name=".android.sdk.impl.ExtoleShareBroadcastReceiver"
          android:exported="false" />

        <activity
          android:name=".mobile.SdkActivity"
          android:exported="true"
          android:launchMode="singleTask" />

        <activity
          android:name=".mobile.MainActivity"
          android:exported="true" />


        <uses-library
          android:name="android.test.runner"
          android:required="false" />

        <activity
          android:name=".mobile.SplashActivity"
          android:exported="true"
          android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".mobile.DeeplinkActivity"
          android:exported="true"
          android:theme="@style/Theme.AppCompat.NoActionBar">
            <!-- Branch URI Scheme -->
            <intent-filter>
                <data android:scheme="mobile-monitor" />

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links -->
            <intent-filter android:autoVerify="true">
                <data android:scheme="https" />
                <data android:host="mobile-monitor.app.link" />
                <data android:scheme="https" />
                <data android:host="mobile-monitor-alternate.app.link" />

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <!-- Branch init -->
        <meta-data
          android:name="io.branch.sdk.BranchKey"
          android:value="key_live_nn0w9tdiwWN8mJy0Xq24GmicBvos1opz" />
        <meta-data
          android:name="io.branch.sdk.BranchKey.test"
          android:value="key_test_fe4w6relx1L8iUt00FZ2KlcbszhvYdkh" />
        <meta-data
          android:name="io.branch.sdk.TestMode"
          android:value="false" />     <!-- Set to true to use Branch_Test_Key (useful when simulating installs and/or switching between debug and production flavors) -->
    </application>

</manifest>